<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- meta tag 허용 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
    ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- 커스텀 스타일 템플릿 -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <title>Header</title>
</head>
</html>